# This file is managed by Ansible, all changes will be lost.
Name={{ item.name }}
{% if 'address' in item %}
Address={{ item.address }}
{% endif %}
Port={{ item.port | default('655') }}
Compression={{ item.compression | default('0') }}
{% if 'subnet' in item %}
{% if item.subnet is iterable and item.subnet is not string %}
{% for subnet in item.subnet %}
Subnet={{subnet}}
{% endfor %}
{% else %}
Subnet={{ item.subnet }}
{% endif %}
{% else %}
{% if item.vpn_address is iterable and item.vpn_address is not string %}
{% for vpn_address in item.vpn_address %}
Subnet={{ vpn_address }}/32
{% endfor %}
{% else %}
Subnet={{ item.vpn_address }}/32
{% endif %}
{% endif %}
{{ item.public_key }}
